* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

.table-scroll-container {
    overflow-x:auto;
}

.container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.close-loc-btn {
    height: 100%;
}

.container-row > * {
    padding: 0.2em;
}

.close-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(3, 1fr);
    place-items: center start;
    grid-column-gap: 0.5em;
}

table {
    border: none;
}

table * {
    font-weight: normal;
}

table tr:first-child {
    background-color: silver;
}

table tr:first-child * {
    font-weight: bold;

}

table tr:nth-child(even) {
    background-color: lightgray;
}






